*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button{
    gap: 1rem;
    align-items: center;

}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Pimage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}